:root {
    /* --bcg-color: #f7f7f7; */
    /* --bcg-color: #F4F6FF; */
    --bcg-color: #e5e3d4;
    --bcg-color-2: #9abf80;
    /* --bcg-color-2-pressed: #698654; */
    --bcg-color-2-pressed: #f44336;
    --border-color: #1c325b;
    --border-radius-5: 5px;
    --text-color: #6a669d;
    --baloon-main-size: 56px;
}
html,
body {
    min-height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bcg-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

h1 {
    text-transform: uppercase;
}

p {
    font-size: var(--font-size-base);
}

#baloon {
    font-size: var(--baloon-main-size);
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border: 1px solid var(--bcg-color-2);
    border-radius: var(--border-radius-5);
    padding: 50px;
}

.box {
    width: 200px;
    height: 200px;
    background: var(--bcg-color-2);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 2px;
}

.arrow {
    width: 40px;
    height: 40px;
    background: var(--bcg-color-2);
    border-radius: var(--border-radius-5);
    border: 2px solid var(--border-color);
    box-shadow: inset 0px 0px 15px 1px #1c325b71;
    transition: background 250ms ease;
}
.arrow:nth-child(1),
.arrow:nth-child(3) {
    border: none;
    background: none;
    box-shadow: none;
}

.arrow.up {
    background-image: url("./images/arrow_upward.svg");
    background-size: contain;
}
.arrow.down {
    background-image: url("./images/arrow_downward.svg");
    background-size: contain;
}
.arrow.left {
    background-image: url("./images/arrow_backward.svg");
    background-size: contain;
}
.arrow.right {
    background-image: url("./images/arrow_forward.svg");
    background-size: contain;
}

.pressed {
    transition: background 50ms ease;
    background: var(--bcg-color-2-pressed);
}
